<div class="control-group">
  <%= form.label "Name (DNS name or IP address)", class: "control-label" %>
  <div class="controls">
    <%= form.text_field :name, :style => 'width: 330px' %>
  </div>
</div>
