<% if @project.deployments.empty? %>
  <p>
    This project was never deployed. 
  </p>
<% else %>
  <%= render :partial => 'deployments/list_item', :locals => {:deployments => @project.recent_deployments} %>
<% end %>
