<% if @project.deployments.empty? %>
  <p>
    This project was never deployed. 
  </p>
<% else %>
  <% @project.recent_deployments.each do |deployment| %>
    <%= render(:partial => 'deployments/list_item', :locals => {:deployment => deployment}) %>
  <% end %>
<% end %>
