<% content_for(:page_title) do %>
  <% @page_title = t("welcome_webistrano") %>
  <h2><%= t :welcome_webistrano %></h2>
<% end %>

<br />

<fieldset class="fieldset">
  <legend><%= t("deployment.recent") %></legend>
  <% if @deployments.empty? %>
    <br/>
    <%= t("deployment.no_recent") %>
    <br/>
  <% else %>
    <%= render :partial => 'deployments/list_item', :locals => {:deployments => @deployments} %>
  <% end %>
</fieldset>

