<div class="control-group">
  <%= form.label :name, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :name, :class => "text_field" %>
    (e.g. 'Prod', 'Test', 'Dev')
  </div>
</div>

<div class="control-group">
  <%= form.label :alert_emails, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :alert_emails, :class => "text_field" %>
    Alert these emails on deploy (separated by space)
  </div>
</div>
